
.dashboard {
    height: 80vh;
    width: 80%;
    max-width: 1400px;
    display: flex;
    justify-content: space-around;
    padding-top: 2.5vh;
    padding-bottom: 5vh;
}
.okvirBGAC {
    width: 600px;
    display: flex;
    flex-direction: column;
    height: 60%;
    justify-content: space-between;
    
}
.achivments {
    background-color: rgb(194, 194, 194);
    border-radius: 20px;
    height: 45%;
    width: 100%;
    box-shadow: 2px 2px 10px black;
}
.achivmentBody td {
    text-align: center;
    color:rgb(0, 101, 145);
    font-weight: 900;
}
.achivmentBody td .rest {
    width: 20%;
}
.achivmentBody td .achivmentText {
    width: 35%;
}
.playerInfo {
    height: 80%;
    width: 600px;
    background-color: rgb(194, 194, 194);
    border-radius: 40px;
    box-shadow: 2px 2px 10px black;
}
.bestGames {
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 45%;
    background-color: rgb(194, 194, 194);
    border-radius: 40px;
    box-shadow: 2px 2px 10px black;
}
@media (max-width: 700px) {
    .playerInfo {
        font-size: small;
    }
}
@media (max-width: 1500px) {
    .playerInfo {
        width: 500px;
        font-size: small;
        height: 60%;
    }
    .bestGames{
        width: 500px;
    }
    .achivments {
        width: 500px;
    }
}
@media (max-width: 1300px) {
    .dashboard {
        flex-direction: column;
        align-items: center;
    }
    .playerInfo {
        max-width: 500px;
        width: 100%;
    }
    .okvirBGAC {
        max-width: 500px;
        width: 100%;
    }
    .achivments {
        width: 100%;
    }

    .bestGames {
        
        margin-top: 10px;
        width: 100%;
    }
}

.header {
    height: 19%;
    display: flex;
    
    align-items: center;
}
.avatarArea {
    width: 25%;
}
.userName {

    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 1.5em;
    color: rgb(0, 101, 145);

}
.avatar {
    margin-left: 40px;
    height: 50px;
    width: 50px;
    border-radius: 10px;
    background-color: white;
}

.dataField {
    display: flex;
    flex-direction: column;
    height: 81%;
    padding-top: 20px;
    padding-left: 40px;
}
.oneData {
    color:rgb(0, 101, 145);
    flex-grow: 1;  
    font-size: 2em;
    font-weight: 900;     
}

.bestGamesTitle {
    color:rgb(0, 101, 145);

}

.bestGameData {
    color:rgb(0, 101, 145);
    font-size: 1.5em;
    font-weight: bold;
}