

footer {
    background-color: black;
    width: 100vw;
    position: absolute;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    
}

.copyright {
    color: gray;
    font-size: 1.5em;
}